@model Product

<div class="row">
    <marquee><span style="color: brown">Xem phim tại website này - Quý đẹp trai</span></marquee>
    <div class="col-xs-6 ">
        <video id="video" width="640" height="360" controls autoplay="autoplay">
            <source src="~/lib/media/@Html.DisplayFor(m => m.ProductURL)" type="video/mp4" poster=@Html.DisplayFor(m => m.Productimage)>
            <source src="~/lib/media/@Html.DisplayFor(m => m.ProductURL)" type="video/ogg">
            Sorry, your browser doesn't support embedded videos
            <track src="devstories-en.vtt" label="English subtitles"
                   kind="subtitles" srclang="en" default>
        </video>
    </div>
    <div id="description_column" class="col-xs-4">
        <div class="film_description">
            <details>
                <summary><span style="color: dodgerblue">Xem miêu tả về phim</span></summary>
                <h5> Phim @Html.DisplayFor(m => m.ProductName) có giá là: <span style="color: white; background-color: red"><strong> @Html.DisplayFor(m => m.Price)$ </strong></span></h5>
                <p class="fn-wlyrics fn-content" data-min="300px" data-max="auto" style="overflow: hidden; height: auto;">@Html.Raw(Model.ProductDescription)</p>
            </details>
        </div>
    </div>

    <div class="col-xs-2">
        <form id="@Model.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="lead">
                <button type="submit" class="btn btn-success btn-sm">
                    Order
                </button>
            </span>
        </form>
    </div>
</div>
<link href="~/css/video.css" rel="stylesheet" />