@model OrderIndexViewModel

<div class="container">
    <h2>Your Purchase</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.LineItems)
            {
                <tr>
                    <td class="text-center">@line.Quanlity</td>
                    <td class="text-left">@line.Product.ProductName</td>
                    <td class="text-right">@line.Product.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Quanlity * line.Product.Price).ToString("c"))
                    </td>
                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="CourseID" value="@line.Product.ProductID" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Purchase</a>
        <a class="btn btn-primary" asp-action="Checkout" asp-controller="Purchase">Checkout</a>
        <a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=(Email chính tài khoản nhận tiền)&product_name=(Mã đơn đặt hàng)&price=(Tổng giá trị)&return_url=(URL thanh toán thành công)&comments=(Ghi chú về đơn hàng)"><img src="https://www.nganluong.vn/css/newhome/img/button/safe-pay-2.png" border="0" /></a>
    </div>

</div>